<% unless @data.blank? %>
  <% @data.each do |sound| %>
    <div class="col-12 shadow-lg p-3 mb-3 bg-white rounded">
      <h2><%= sound.name %></h2>
      <h5><%= sound.tag %></h5>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="<%= sound.location %>"></iframe>
      <div class="btn-group d-flex">
        <%= link_to 'Duzenle', edit_sound_path(sound), class: "btn btn-secondary" %>
        <%= link_to "Detay", sound_path(sound.id), class: "btn btn-secondary" %>
        <%= link_to "Sil", sound, class: "btn btn-secondary", data: {confirm: "Ses kalıcı olarak silinecektir!"}, method: :delete %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="col-12 text-center alert alert-info" role="alert">
    Ses bulunamadı.
  </div>
<% end %>

