<nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
	<div class="container d-flex justify-content-between">
		<a class="navbar-brand text" href="/">Sounds</a>

		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item">
					<%#= link_to "Blog", blog_path, class: "nav-link" %>
				</li>
			</ul>
			<% if signed_in? %>
				<div class=" navbar-nav nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><%= current_user.name %></a>
					<div class="dropdown-menu">
						<%= link_to "Profilimi Görüntüle", profile_path(current_user.username), class: "dropdown-item" %>
						<%= link_to "Oturumu Kapat", logout_path, method: :delete, class: "dropdown-item" %>
					</div>
					<a class="nav-link" href="<%= show_cart_path %>">
						Sepet
						<span class="badge badge-light"><%= session[:cart].blank? ? 0 : session[:cart].size  %></span>
					</a>
				</div>
			<% else %>
				<ul class="navbar-nav">
					<li class="nav-item">
						<%= link_to "Kaydol", register_path, class: "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "Giriş", login_path, class: "nav-link" %>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
</nav>